* {
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  margin: 0; 
  padding: 0;
}

img {
  max-width: 100%;
}

.container {
  max-width: 1200px;
  margin: auto;
  padding: 0 15px;
}

.btn {
  display: inline-block;
  padding: 15px 16px;
  border-radius: 4px;
  font-size: 12px;
  line-height: 1;
  text-transform: uppercase;
  color: #fff;
  background-color: #3172b9;
  cursor: pointer;
}

.section-heading {
  margin: 0;
}

.section-desc {
  margin: 0;
  margin-top: 25px;
}

.text-center {
  text-align: center;
}

/* Header */

.header {
  height: 110px;
}

.header-container {
  display: flex;
  align-items: center;
  height: 100%;
}

.logo {
  margin-right: auto;
}

.nav-list {
  display: flex;
}

.nav-item:not(:last-child) {
  margin-right: 50px;
}

.header-btn {
  margin-left: 80px;
}

/* Hero section */

.hero-container {
  padding-top: 120px;
  padding-bottom: 130px;
}

.hero-content {
  max-width: 50%;
}

.section-hero-heading {
  margin: 0;
  margin-bottom: 30px;
}

.section-hero-desc {
  margin: 0;
  margin-bottom: 30px;
}

.section-hero-btn-desc {
  margin-top: 10px;
}

/* Do section */

.section-do {
  padding-top: 140px;
  padding-bottom: 100px;
}

.section-do-list {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}

.section-do-item {
  display: flex;
  align-items: center;
  flex-direction: column;
  flex: 0 0 270px;
  padding: 60px 30px;
  outline: 1px solid red;
}

.section-do-icon {
  margin-bottom: 30px;
}

.section-do-item-heading {
  margin-bottom: 20px;
}

.section-do-item-text {
  margin: 0;
  text-align: center;
}

/* Clients section */

.section-clients {
  padding-top: 95px;
  padding-bottom: 160px;
  border-top: 1px solid #dadada;
}

.section-clients-list {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
}

.section-clients-item {
  flex: 0 0 370px;
  padding: 55px 35px 30px;
  outline: 1px solid red;
}

.section-clients-testimonial {
  margin: 0;
  padding-bottom: 40px;
  border-bottom: 1px solid #dadada;
}

.section-clients-user {
  display: flex;
  align-items: center;
  padding-top: 30px;
}

.section-clients-avatar {
  width: 63px;
  height: 63px;
  border: 2px solid #3172b9;
  border-radius: 50%;
}

.section-clients-user-info {
  margin-left: 20px;
}

.section-clients-username {
  margin-bottom: 5px;
}